.ArticleContainer {
}

.ArticleWrapper {
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
    align-items: center;
}
.ArticleText {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #2e4555;
}
.Article_container {
    
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(12, 4fr);
    grid-gap: 20px;
    link {
        text-decoration: none;
    }
    :hover {
        transform: rotate(-1deg);
    }
    .first {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    .second {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    .third {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 7;
    }
}
.ArticleWindowsChildd {
    width: 100%;
    height: 500px;
    border-radius: 65px;
}

.Relaxx {
    background-image: url("../../img/HorseWooman.png");
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    .ArticleWindowsRelaxTextt {
        width: 450px;
        height: 185px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        display: flex;
        color: #ffffff;
    }
    @media screen and (max-width: 1600px) {
        .ArticleWindowsRelaxTextt {
            text-align: center;
        }
    }

}

.Boots {
    background-image: url("../../img/Boots.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
   

    .ArticleWindowsBootsText {
        width: 450px;
        height: 185px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        display: flex;
        color: #ffffff;
    }
    @media screen and (max-width: 1600px) {
        .ArticleWindowsBootsText {
           text-align: center;

        }
    }
}

.Food {
    background-image: url("../../img/Pelmeni.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    .ArticleWindowsFoodText {
        width: 450px;
        height: 135px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        display: flex;
        color: #ffffff;
    }
    @media screen and (max-width: 1600px) {
        .ArticleWindowsFoodText {
           text-align: center;
           align-items: center;
           padding-bottom: 10px;
        }
    }
   
}

@media screen and (max-width: 1200px) {
    .Article_container{
     display: flex;
     flex-direction: column;
     align-items: center;
    }
 }