.Footer{
    background-color: hsl(212, 56%, 40%);
    height: 439px;
    .container{
        padding-top:  40px; ;
        display: flex;
        justify-content: space-evenly;
        .logo{
            cursor: pointer;
        }
        .link {
            text-decoration: none;
            color: inherit;
            :hover{
                color: #e6641b;
                transform: scale(1.02);
            }
        }
        li{
            list-style: none;
            line-height: 45px;
            font-size: 24px;
            font-weight: bold;
            color: white;
        }
        .icons{
            display: flex;
            flex-direction: row;
            gap: 20px;
            :hover{
                transform: scale(1.01);
            }
            .icon{
                width: 50px;
                height: 50px;
               
            }
        }
    }
    
}
