.Dropdown {
    width: 1620px;

    height: 280px;
    border-radius: 60px;
    background-color: #5ebfc5;
    display: flex;
    padding: 40px 63px;
    gap: 20px;
}
.dropdown {
    width: 487px;
    margin: 100px auto;
    user-select: none;
    .dropdown-btn {
        height: 60px;
        padding: 15px 20px;
        background-color: white;
        border-radius: 65px;
        font-weight: bold;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dropdown-content {
        left: 0;
        width: 95%;
        top: 110%;
        padding: 15px;
        background-color: #fff;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        font-weight: 500;
    }
    .dropdown-item {
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s;
        :hover {
            background-color: rgb(0, 0, 0);
        }
    }
}
